.wrapper {
  display: grid;
  grid-template-columns: auto 230px minmax(320px, 1200px) auto;

  min-height: 100vh;
  gap: 40px 30px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    ". header header ."
    ". sidebar content ."
    "footer footer footer footer";
}

.header {
  grid-area: header;

  display: none;
}

.sidebar {
  grid-area: sidebar;
}

.content {
  grid-area: content;
}

.skipLink {
  position: fixed;
  top: 5px;
  left: 75px;

  display: block;
  overflow: hidden;

  height: 0;

  color: var(--white);
  background: var(--primary);
}

.displayed {
  height: auto;
}

.footer {
  grid-area: footer;
}

@media (max-width: 765px) {
  .sidebar {
    display: none !important;
  }

  .header {
    display: inherit;
  }

  .wrapper {
    grid-template-columns: minmax(320px, 1fr);
    grid-template-areas:
      "header"
      "content"
      "footer";
    gap: 10px;
  }

  .content {
    padding: 15px;
  }
}
