.ratingWrapper {
  position: relative;
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  left: 0;

  color: var(--red);
}

.error svg {
  stroke: var(--red);
}

.star {
  display: inline-block;

  color: #E2E2E2;
}

.star + .star {
  padding-left: 5px;
}

.filled {
  color: var(--primary);
}

.editable {
  cursor: pointer;
}
