.tag {
  display: inline-block;

  box-sizing: border-box;
  width: fit-content;
  margin-right: 5px;
  padding: 3px 10px;

  border-radius: 20px;
}

.medium {
  font-size: 14px;
  line-height: 140%;
}

.small {
  font-size: 12px;
  line-height: 140%;
}

.ghost {
  border: 1px solid var(--gray-light);
}

.red {
  color: var(--white);
  background-color: #DE0000;

  font-weight: bold;
}

.grey {
  color: var(--white);
  background-color: #303030;
}

.green {
  color: var(--green);
  background-color: var(--green-light);

  font-weight: bold;
}

.primary {
  color: var(--primary);
  border: 1px solid var(--primary);
  background: none;
}
