html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background: var(--body-background);

  font-family: "Noto Sans KR", sans-serif;
}

::-webkit-scrollbar {
  width: 7px;

  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: var(--primary);
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3B434E;
  --white: white;
  --gray-dark: #505359;
  --gray: #A4A4A4;
  --gray-light: #EBEBEB;
  --body-background: #F5F6F8;
  --rate-grey: #BBB;
  --rate-filled: #FC836D;
  --primary: #7351F5;
  --primary-hover: #6344DF;
  --red: #FC836D;
  --red-light: #FEA291;
  --green: #067B4A;
  --green-light: #C8F8E4;
  --font-family: "Noto Sans KR", sans-serif;
}
